{% extends 'global/base.html' %}

{% block content %}

{% if agua %}
    <div class="responsive-table">
        <table class="contacts-table">
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">ID</th>
                    <th class="table-header">Conta</th>
                    <th class="table-header">Vencimento</th>
                    <th class="table-header">Status</th>
                </tr>
            </thead>

            <tbody>
                {% for a in agua %}
                    <tr class="table-row">
                        <td class="table-cel">
                            {{ a.id }}
                        </td>
                        <td class="table-cel">
                            {% if a.Nome_conta == "Internet" %}
                                <a
                                class="table-link"
                                target="_blank"
                                href="https://fnx.adsnet-telecom.net.br/central/index.hhvm"
                                >
                            {% elif a.Nome_conta == "Luz" %}
                                <a
                                class="table-link"
                                target="_blank"
                                href="https://agenciavirtual.light.com.br/AGV_Segunda_Via_VW/Segunda_Via.aspx"
                                >
                            {% elif a.Nome_conta == "Agua" %}
                                <a
                                class="table-link"
                                target="_blank"
                                href="https://agenciavirtual.riomaissaneamento.com.br/servicos/segunda-via/"
                                >

                            {% elif a.Nome_conta == "Plano de saude" %}
                                <a
                                class="table-link"
                                target="_blank"
                                href="https://www.unimedvr.com.br/servicos/php/boleto2via/"
                                >

                            {% else %}
                                <a
                                class="table-link"
                                target="_blank"
                                href="#"
                                >
                            {% endif %}
                                {{ a.Nome_conta }}
                            </a>
                        </td>
                        <td class="table-cel">
                            {{ a.vencimento }}
                        </td>
                        <td class="table-cel">
                            {{ a.status }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<div class="single-contact">
    <h1 class="single-contact-name">
        Nada foi encontrado!
    </h1>
</div>
{% endif %}

{% endblock content %}